#adm{margin-top: 5%;margin-bottom: 5%;box-shadow: 0px 0px 10px grey;border-radius: 20px;display: grid;}

#form{padding: 5%;}

#ad-img{border-top-left-radius: 20px;border-bottom-left-radius: 20px;transform: translateY(2px);}