#box {
  display: grid;
}

#banner-text {
  position: absolute;
  top: 38%;
  left: 15%;
  right: 15%;
  text-shadow: 0px 4px 5px grey;
}
#banner-text1 {
    position: absolute;
    top: 28%;
    left: 20%;
    right: 15%;
    text-shadow: 0px 4px 5px grey;
  }
#banner {
  width: 100%;
  height: 100vh;
}

#wrapper {
  background-color: white;
  box-shadow: 0px 20px 20px 5px gray;
  position: relative;
 
}
#wrapper::after{
    content: '';
    height: 3%;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: translateY(-98%);
}
#intro {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
}

#abt-right h1 {
  font-weight: 200;
  font-family: "Kanit", sans-serif;
  font-size: 45px;
  line-height: 44px;
}

#abt-right h2 {
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  line-height: 28px;
  padding-top: 5%;
}

#abt-right h4 {
  font-weight: 200;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.5;
}

#abt-btn {
  width: 70%;
  background-color: rgb(25, 178, 239);
  border: 3px solid skyblue;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10%;
}

#abt-btn:hover {
  background-color: skyblue;
  border: 3px solid rgb(25, 178, 239);
  color: black;
}

#abt-img-2 {
  width: 98%;
  margin-top: 8%;
  border: 8px groove grey;
}

#abt-btn-xs {
  width: 70%;
  background-color: rgb(25, 178, 239);
  border: 3px solid skyblue;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10%;
  margin-left: 15%;
}

#abt-img-2-xs {
  width: 95%;
  margin-top: 17%;
  border: 8px groove grey;
}

#department {
  margin-top: 10%;
}

#dep_img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.4s;
}

#medical_camp {
  margin-top: 10%;
}

#testimonial {
  margin-top: 10%;
}

#test-right {
  background-color: rgb(25, 178, 239);
  height: 35rem;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  color: white;
}

#t-text {
  font-weight: 400;
  font-family: "Kanit", sans-serif;
}

#left_img {
  height: 35rem;
  width: 100%;
}

#specalist {
  margin-top: 10%;
}

#galary{ margin-top: 10%;padding-bottom: 10%;}
